<html lang="en">
  <head>
    <title>YoWa Documentation</title>

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/landingImg/logo/logo-title.png" />

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Plugins CSS -->
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css"
    />
    <link
      rel="stylesheet"
      href="assets/plugins/simplelightbox/simple-lightbox.min.css"
    />

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css" />
  </head>

  <body class="docs-page">
    <header class="header fixed-top">
      <div class="branding docs-branding">
        <div class="container-fluid position-relative py-2">
          <div class="docs-logo-wrapper">
            <button
              id="docs-sidebar-toggler"
              class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none"
              type="button"
            >
              <span></span>
              <span></span>
              <span></span>
            </button>
            <div class="site-logo"><a class="navbar-brand" href="/document"><img
                  class="logo-icon me-2"
                  src="/img/landingImg/logo/logo-black.png"
                  width="55"
                  height="50"
                  alt="logo"
                /><span class="logo-text">Yo<span
                    class="text-alt"
                  >Wa</span></span></a></div>
          </div><!--//docs-logo-wrapper-->
        </div><!--//container-->
      </div><!--//branding-->
    </header><!--//header-->

    <div class="docs-wrapper">
      <div id="docs-sidebar" class="docs-sidebar">
        <div class="top-search-box d-lg-none p-3">
          <form class="search-form">
            <input
              type="text"
              placeholder="Search the docs..."
              name="search"
              class="form-control search-input"
            />
            <button type="submit" class="btn search-btn" value="Search"><i
                class="fas fa-search"
              ></i></button>
          </form>
        </div>
        <nav id="docs-nav" class="docs-nav navbar">
          <ul class="section-items list-unstyled nav flex-column pb-3">
            <li class="nav-item section-title"><a
                class="nav-link scrollto active"
                href="#section-1"
              ><span class="theme-icon-holder me-2"><i
                    class="fas fa-map-signs"
                  ></i></span>Introduction</a></li>
            <li class="nav-item section-title mt-3"><a
                class="nav-link scrollto"
                href="#section-2"
              ><span class="theme-icon-holder me-2"><i
                    class="fas fa-arrow-down"
                  ></i></span>Installation</a></li>
            <li class="nav-item"><a
                class="nav-link scrollto"
                href="#item-2-1"
              >Register Business Account</a></li>
            <li class="nav-item"><a
                class="nav-link scrollto"
                href="#item-2-2"
              >Set Wallet</a></li>
            <li class="nav-item"><a
                class="nav-link scrollto"
                href="#item-2-3"
              >Set Hook</a></li>
            <li class="nav-item section-title mt-3"><a
                class="nav-link scrollto"
                href="#section-4"
              ><span class="theme-icon-holder me-2"><i
                    class="fas fa-cogs"
                  ></i></span>Integrations</a></li>
            <li class="nav-item"><a
                class="nav-link scrollto"
                href="#item-4-1"
              >Create Gateway</a></li>
            <li class="nav-item"><a
                class="nav-link scrollto"
                href="#item-4-2"
              >Get Gateway</a></li>
            <li class="nav-item"><a
                class="nav-link scrollto"
                href="#item-4-3"
              >Payment Event</a></li>
          </ul>

        </nav><!--//docs-nav-->
      </div><!--//docs-sidebar-->
      <div class="docs-content">
        <div class="container">
          <article class="docs-article" id="section-1">
            <header class="docs-header">
              <h1 class="docs-heading">Introduction
                <span class="docs-time">Last updated: 2021-11-23</span></h1>
              <section class="docs-intro">
                <p>A Service Helps Businesses To Accept Cryptocurrency As
                  Payment With Simple Integration Of YoWa Gateway. We are a
                  crypto payment gateway, we help online businesses to accept
                  cryptocurrencies on Ethereum and Binance Smart Chain. We
                  directly use the wallet address you provide to verify incoming
                  transactions and then notify you via the API system. We don't
                  own your private key so there'll have no risk of losing your
                  property</p>
              </section><!--//docs-intro-->

              <h5>Github Code Example:</h5>
              <p>Project example
                <a
                  class="theme-link"
                  href="https://gist.github.com/"
                  target="_blank"
                >here</a></p>
              <div class="docs-code-block">
                <!-- ** Embed github code starts ** -->
                <script
                  src="https://gist.github.com/xriley/fce6cf71edfd2dadc7919eb9c98f3f17.js"
                ></script>
                <!-- ** Embed github code ends ** -->
              </div><!--//docs-code-block-->

              <h5>How it works:</h5>
              <div style="display: flex; justify-content: center;">
                <img src="/img/Diagram.jpg" />
              </div>
            </header>
          </article>

          <article class="docs-article" id="section-2">
            <header class="docs-header">
              <h1 class="docs-heading">Installation</h1>
              <section class="docs-intro">
              </section><!--//docs-intro-->
            </header>
            <section class="docs-section" id="item-2-1">
              <h2 class="section-heading">Register Business Account</h2>
              <p>YoWa use telegram bot to interact with user. Must use telegram
                application on the phone to register. Sign up
                <a
                  class="theme-link"
                  href="https://gist.github.com/"
                  target="_blank"
                >here</a></p>
              <img
                src="/img/document/start.jpg"
                width="200px"
                height="400px"
                style="margin-right: 70px;"
              />
              <img
                src="/img/document/signup.jpg"
                width="200px"
                height="400px"
                style="margin-right: 70px;"
              />
              <img
                src="/img/document/signup2.jpg"
                width="200px"
                height="400px"
              />
            </section><!--//section-->

            <section class="docs-section" id="item-2-2">
              <h2 class="section-heading">Set wallet</h2>
              <p>Choose type of wallet you want to recieve money. YoWa supports
                payments on 2 chains, Ethereum and Binance Smart Chain.</p>
              <img
                src="/img/document/setwallet2.jpg"
                width="350px"
                height="400px"
              />
            </section><!--//section-->

            <section class="docs-section" id="item-2-3">
              <h2 class="section-heading">Set hook</h2>
              <p>You need provide your webhook endpoint to recieve billing
                information. After that you need enter a string like password
                and YoWa will provide a token to verify when you send or
                recieve data
              </p>
              <img
                src="/img/document/sethook.jpg"
                width="350px"
                height="400px"
              />
            </section>
            <!--//section-->
          </article><!--//docs-article-->

          <article class="docs-article" id="section-4">
            <header class="docs-header">
              <h1 class="docs-heading">Intergrations</h1>
              <section class="docs-intro">
              </section>
              <!--//docs-intro-->
            </header>
            <section class="docs-section" id="item-4-1">
              <h2 class="section-heading">Create Gateway</h2>
              <h4>HTTP request</h4>
              <p>
                <b>URL:</b>
                https://api.yowa.tech/api/ticket/createTicket
                <br />
                <b>Method:</b>
                POST
                <br />
                <b>Content-Type:</b> 
                application/json
                <br>
                <b>Response Type:</b>
                json
                <br />
              </p>
              <h4>Example request</h4>
              <pre>
              <code class="language-javascript hljs">
                  var axios = require('axios');
                  var data = JSON.stringify({
                      "telegram_id": "1122233243",
                      "value": 20
                  });
                  var config = {
                      method: 'post',
                      url: 'https://api.yowa.tech/api/ticket/createTicket',
                      headers: {
                          'token_verify': 'bfe88f9c7b5729f50b224f7558296aea891e9fdwerdfedb6a3914e292',
                          'string_verify': 'yowa.tech',
                          'Content-Type': 'application/json'
                      },
                      data: data
                  };
                  axios(config).then(function(response) {
                      console.log(JSON.stringify(response.data));
                  }).catch(function(error) {
                      console.log(error);
                  });
                </code>
                </pre>
                <h4>Example response</h4>
                <pre>
                  <code class="language-json hljs">
                    {
                      "status": "success",
                      "data": {
                          "id": "619dfe453daf869d4d540e44",
                          "value": 20,
                          "urlGateway": "https://gateway.yowa.tech/gate/619dfe453daf869d4d540e44"
                      }
                    }
                  </code>
                </pre>
            </section>
            <!--//section-->

            <section class="docs-section" id="item-4-2">
              <h2 class="section-heading">Get Gateway</h2>
              <h4>HTTP request</h4>
              <p>
                <b>URL:</b>
                https://api.yowa.tech/api/ticket/getTicket
                <br />
                <b>Method:</b>
                GET
                <br />
                <b>Content-Type:</b> 
                application/json
                <br>
                <b>Response Type:</b>
                json
                <br />
              </p>
              <h4>Example request</h4>
              <pre>
              <code class="language-javascript hljs">
                  var data = JSON.stringify({
                    "ticket_id": "619dfe453daf869d4d540e44"
                  });

                  var config = {
                    method: 'get',
                    url: 'https://api.yowa.tech/api/ticket/getTicket',
                    headers: { 
                      'Content-Type': 'application/json'
                    },
                    data : data
                  };

                  axios(config)
                  .then(function (response) {
                    console.log(JSON.stringify(response.data));
                  })
                  .catch(function (error) {
                    console.log(error);
                  });
                </code>
                </pre>
                <h4>Example response</h4>
                <pre>
                  <code class="language-json hljs">
                    {
                        "status": "success",
                        "data": {
                            "id": "619dfe453daf869d4d540e44",
                            "businessName": "YoWa",
                            "value": 20,
                            "wallet": {
                                "1": {
                                    "address": "0x09453c14d12603b4dd237991e8fdf52251ea0529",
                                    "active": true,
                                },
                                "56": {
                                    "address": "",
                                    "active": false,
                                },
                            },
                            "createAt": "2021-11-24T08:56:37.797Z",
                            "timeExpired": 48.13698333333333
                        }
                    }
                  </code>
                </pre>
            </section>
            <!--//section-->

            <section class="docs-section" id="item-4-3">
              <h2 class="section-heading">Payment event</h2>
                <h4>Example data post to hook</h4>
                <h5>Data Header</h5>
                <p>You should verify the token_verify and string_verify fields to 
                  make sure the received data comes from YoWa</p>
                <pre>
                  <code class="language-json hljs">
                    {
                      "token_verify": "token verify",
                      "string_verify": "string verify",
                    }
                  </code>
                </pre>
                <h5>Data Body</h5>
                <pre>
                  <code class="language-json hljs">
                    {
                      "ticket_id": "ticket id",
                      "customer_id": "",
                      "txn": "transactions hash",
                      "chainId": "such as: 1: Ethereum, 56: BSC",
                      "typeToken": "type of token user paied",
                      "value": "value of ticket",
                    }
                  </code>
                </pre>
            </section>
            <!--//section-->
          </article>
          <!--//docs-article-->
          <footer class="footer">
            <div class="container text-center py-5">
              <small class="copyright">YoWa Copyright &copy;
                <a href="https://yowa.tech/" target="_blank">YoWa Gateway</a></small>
              <ul class="social-list list-unstyled pt-4 mb-0">
                <li class="list-inline-item"><a href="#"><i
                      class="fab fa-github fa-fw"
                    ></i></a></li>
                <li class="list-inline-item"><a href="#"><i
                      class="fab fa-twitter fa-fw"
                    ></i></a></li>
                <li class="list-inline-item"><a href="#"><i
                      class="fab fa-slack fa-fw"
                    ></i></a></li>
                <li class="list-inline-item"><a href="#"><i
                      class="fab fa-product-hunt fa-fw"
                    ></i></a></li>
                <li class="list-inline-item"><a href="#"><i
                      class="fab fa-facebook-f fa-fw"
                    ></i></a></li>
                <li class="list-inline-item"><a href="#"><i
                      class="fab fa-instagram fa-fw"
                    ></i></a></li>
              </ul><!--//social-list-->
            </div>
          </footer>
        </div>
      </div>
    </div><!--//docs-wrapper-->

    <!-- Javascript -->
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Page Specific JS -->
    <script src="assets/plugins/smoothscroll.min.js"></script>
    <script src="/js/lib/highlight.min.js"></script>
    <script src="assets/js/highlight-custom.js"></script>
    <script src="assets/plugins/simplelightbox/simple-lightbox.min.js"></script>
    <script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
    <script src="assets/js/docs.js"></script>

  </body>
</html>