<html>
  <head>
    <title>YoWa</title>
    <link
      rel="icon"
      href="/img/landingImg/logo/logo-title.png"
      sizes="32x32"
      type="image/png"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/css/landingCSS/main.css" />
    <noscript><link
        rel="stylesheet"
        href="/css/landingCSS/noscript.css"
      /></noscript>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
  </head>
  <body class="is-preload">

    <!-- Header -->
    <section id="header">
      <div class="inner">
        <img
          src="/img/landingImg/logo/logo-title.png"
          width="100"
          height="100"
          alt=""
        />
        <h1>Hi, I'm <strong>YoWa</strong><br /></h1>
        <p>A Service Helps Businesses To Accept Cryptocurrency As Payment<br />
          With Simple Integration Of YoWa Gateway.</p>
        <ul class="actions special">
          <li><a href="#one" class="button scrolly">Discover</a></li>
        </ul>
      </div>
    </section>

    <!-- One -->
    <section id="one" class="main style1">
      <div class="container">
        <div class="row gtr-150">
          <div class="col-6 col-12-medium">
            <header class="major">
              <h2>Little Ideas About<br />
                What We Do.</h2>
            </header>
            <p>We are a crypto payment gateway & wallet provider, we help online
              businesses to accept cryptocurrencies such as Bitcoin, Dash,
              Binance, and so on.</p>
            <ul class="actions">
              <li><a href="#one" class="button custom">Get Started</a></li>
              <li><a href="#one" class="button custom">View Document</a></li>
            </ul>
          </div>
          <div class="col-6 col-12-medium imp-medium">
            <span class="image fit"><img
                src="/img/landingImg/little-ideas.png"
                width="432"
                height="400"
                alt=""
              /></span>
          </div>
        </div>
      </div>
    </section>

    <!-- Two -->
    <section id="two" class="main style2">
      <div class="container">
        <div class="row gtr-150">
          <div class="col-6 col-12-medium">
            <ul class="major-icons">
              <li>
                <img
                  class="major-icon-img"
                  src="/img/landingImg/imgService/service1.png"
                />
                <span class="icon solid style1 major">
                </span></li>
              <li>
                <img
                  class="major-icon-img"
                  src="/img/landingImg/imgService/service2.png"
                />
                <span class="icon solid style2 major">
                </span></li>
              <li>
                <img
                  class="major-icon-img"
                  src="/img/landingImg/imgService/service3.png"
                />
                <span class="icon solid style3 major"></span></li>
              <li>
                <img
                  class="major-icon-img"
                  src="/img/landingImg/imgService/service4.png"
                />
                <span class="icon solid style4 major"></span></li>
              <li>
                <img
                  class="major-icon-img"
                  src="/img/landingImg/imgService/service5.png"
                />
                <span class="icon solid style5 major"></span></li>
              <li>
                <img
                  class="major-icon-img"
                  src="/img/landingImg/imgService/service.png"
                />
                <span class="icon solid style6 major"></span></li>
            </ul>
          </div>
          <div class="col-6 col-12-medium">
            <header class="major">
              <h2>Our Services</h2>
            </header>
            <p>Easily integrate our payment gateway on your webpage or app with
              checkout with easy api integration.</p>
            <p>We offer you Lowest transaction fees 0.23% on withdrawal plus 75%
              revenue (Transaction fee) share for referrals.</p>
            <p>Swap any currency anytime with the easiest function of currency
              swap and maintain history of swapped coins.</p>
            <p>Major Cryptocurrencies like Bitcoin, USDT, Litecoin, Bitcoin
              cash, Ethereum, Ripple, Dash are accepted here.</p>
            <p>This feature allows to do an exchange for goods & service. it
              also includes to share an invoice with through mails.</p>
            <p>We provide our users to do safely transactions through
              blockchains and none third party involvement.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Three -->
    <section id="three" class="main style1 special">
      <div class="container">
        <header class="major">
          <h2>Pricing</h2>
        </header>
        <p>Subscribe to our plans for the best payment gateway experience.</p>
        <div class="row gtr-150">
          <div class="col-6 col-12-medium">
            <div class="plan-box">
              <div class="plan-content">
                <h3 class="plan-title">Free Plan</h3>
                <div class="plan-tag">
                  <span>Supported coin:</span>
                  <p>BTC, LTC, BCH, DOGE, TCN, DASH, BNB</p>
                </div>
                <ul>
                  <li>Email, Chat and Call<b> Support</b> Available</li>
                  <li>Rate Limit API access (100 reqs/min)</li>
                  <li>Limited hours support</li>
                  <li>Withdrawal fees 0.23%</li>
                  <li>500 Address per wallet</li>
                </ul>
                <a href="#" class="button custom">Get Start</a>
              </div>
            </div>
          </div>
          <div class="col-6 col-12-medium">
            <div class="plan-box">
              <div class="plan-content">
                <h3 class="plan-title">Premium Plan</h3>
                <div class="plan-tag">
                  <span>Supported coin:</span>
                  <p>Free plan's coin + ETH + USDTERC20</p>
                </div>
                <ul>
                  <li>Early Access to<b> New Features</b></li>
                  <li>Rate Limit API access (500 reqs/min)</li>
                  <li>24X7 Support</li>
                  <li>Withdrawal fees 0.23%</li>
                  <li>Unlimited address</li>
                </ul>
                <a href="#" class="button custom">Get Start</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Four -->
    <section id="four" class="main style2 special">
      <div class="container">
        <header class="major">
          <h2>Our Testimonials</h2>
        </header>
        <p>We always care for our customers, here are a few words from our happy and satisfied customers.</p>
        <ul class="actions special">
          <li><a href="#" class="button wide primary">Sign Up</a></li>
          <li><a href="#" class="button wide">Learn More</a></li>
        </ul>
      </div>
    </section>
    <!-- Footer -->
    <section id="footer">
      <ul class="icons">
        <li><a href="#" class="icon brands alt fa-twitter"><span
              class="label"
            >Twitter</span></a></li>
        <li><a href="#" class="icon brands alt fa-facebook-f"><span
              class="label"
            >Facebook</span></a></li>
        <li><a href="#" class="icon brands alt fa-instagram"><span
              class="label"
            >Instagram</span></a></li>
        <li><a href="#" class="icon brands alt fa-github"><span
              class="label"
            >GitHub</span></a></li>
        <li><a href="#" class="icon solid alt fa-envelope"><span
              class="label"
            >Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Untitled</li><li>Design:
          <a href="http://html5up.net">YoWa Gateway</a></li>
      </ul>
    </section>

    <!-- Scripts -->
    <script src="/js/landingJS/jquery.min.js"></script>
    <script src="/js/landingJS/jquery.scrolly.min.js"></script>
    <script src="/js/landingJS/browser.min.js"></script>
    <script src="/js/landingJS/breakpoints.min.js"></script>
    <script src="/js/landingJS/util.js"></script>
    <script src="/js/landingJS/main.js"></script>

  </body>
</html>