<div class="header-left">
    <span class="dot">🟠</span>
</div>
<div class="header-right">
    <div class="header-item btn">
        <span>chain id</span>
        <ion-icon name="globe-outline"></ion-icon>
        <span id="network"></span>
    </div>
    <div class="header-item btn">
        <span>account</span>
        <ion-icon name="person-circle-outline"></ion-icon>
        <span id="address"></span>
    </div>
    {{!-- <div class="header-item btn">
        <span>balance</span>
        <ion-icon name="card-outline"></ion-icon>
        <span></span>
    </div> --}}
</div>