<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Payment solution, YoWa is crypto gateway, helping merchants to accept crypto coins on Ethereum or Binance Smart Chain just by integrating its plugins API.">
    <meta name="keywords" content="Currency Swap, Coin Listing, Crypto Wallet, Rest API, Crypto Coins Payment, Cheap crypto coins service, Wordpress gateway plugins, Laravel gateway plugins, coins payment, cryptocurrency gateway, crypto gateway, cryptocurrency payment gateway api, wallet for cryptocurrency">
    <meta name="author" content="YoWa Gateway">
    <meta property="og:url" content="https://yowa.tech">
    <meta property="og:type" content="Cryptocurrency Payment Gateway">
    <meta property="og:title" content="Cryptocurrency Gateway &amp; Wallet | Coins Payment | YoWa Gateway">
    <meta name="twitter:description"
        content="Payment solution, YoWa is crypto gateway, helping merchants to accept crypto coins on Ethereum or Binance Smart Chain just by integrating its plugins API.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description"
        content="Payment solution, YoWa is crypto gateway, helping merchants to accept crypto coins on Ethereum or Binance Smart Chain just by integrating its plugins API.">
    <meta property="og:site_name" content="YoWa Gateway">
    <meta property="og:image" content="https://yowa.tech/img/landingImg/banner.PNG">
    <title>YoWa Gateway</title>
    <link rel="stylesheet" href="/css/homeCSS/main.css">
    <link rel="stylesheet" href="/css/homeCSS/style.css">
    <link rel="icon" href="/img/landingImg/logo/logo-title.png" sizes="32x32" type="image/png" />
    <link href="/js/lib/bootstrap.min.css" rel="stylesheet">
    <script src="/js/lib/bootstrap.bundle.min.js"></script>
    <script src="/js/lib/jquery-3.6.0.min.js"></script>
    <script src="/js/lib/web3.min.js"></script>
    <script src="/js/lib/qrcode.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="header">
                {{> header}}
            </div>
            <div class="main">
                {{{body}}}
            </div>
            <div class="footer">
                {{> footer}}
            </div>
        </div>
    </div>
    <script src="/js/homeJS/app.js" type="text/javascript"></script>
    <script src="/js/homeJS/home.js" type="text/javascript"></script>
    <script src="/js/homeJS/deposit.js" type="text/javascript"></script>
</body>

</html>